/* HEADER */
#header {
    height: 80px;
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    background: #2d6760;
}

.align-items-center {
    align-items: center !important;
}

.d-flex {
    display: flex !important;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

*,
::after,
::before {
    box-sizing: border-box;
}

user agent stylesheet header {
    display: block;
}

/*End Header*/